name: Main
on: [push, pull_request]
jobs:
  version:
    name: "Generate _VERSION"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
    - run: ./version.sh
    - uses: actions/upload-artifact@v2
      with:
        name: _VERSION
        path: ./_VERSION
  binary:
    name: "Build binaries"
    needs: version
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: _VERSION
        path: _tmp
    - run: mv _tmp/_VERSION _VERSION
    - run: ./make-binary.sh
    - uses: actions/upload-artifact@v2
      with:
        name: moby-snapshot-x86_64.tbz
        path: ./moby-snapshot-x86_64.tbz
  rpm_fedora_31:
    name: "Build rpm (Fedora 31)"
    needs: version
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: _VERSION
        path: _tmp
    - run: mv _tmp/_VERSION _VERSION
    - run: ./make-package.sh fedora 31
    - uses: actions/upload-artifact@v2
      with:
        name: moby-snapshot-fedora-31-x86_64-rpm.tbz
        path: ./moby-snapshot-fedora-31-x86_64-rpm.tbz

  release:
    name: "Release (tags: snapshot-*)"
    needs: [version, binary, rpm_fedora_31]
    if: startsWith(github.ref, 'refs/tags/snapshot-')
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: _VERSION
        path: _tmp
    - uses: actions/download-artifact@v2
      with:
        name: moby-snapshot-x86_64.tbz
        path: _tmp
    - uses: actions/download-artifact@v2
      with:
        name: moby-snapshot-fedora-31-x86_64-rpm.tbz
        path: _tmp
    - name: SHA256SUMS
      run: |
        cd _tmp
        sha256sum *
    - name: "Create release"
      uses: actions/create-release@v1
      id: create_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        body: "Built automatically on GitHub Actions. See the log for the SHA256SUMS. https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        draft: false
    - name: "Upload _VERSION"
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: _tmp/_VERSION
        asset_name: _VERSION
        asset_content_type: text/plain
    - name: "Upload moby-snapshot-x86_64.tbz"
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: _tmp/moby-snapshot-x86_64.tbz
        asset_name: moby-snapshot-x86_64.tbz
        asset_content_type: application/octet-stream
    - name: "Upload moby-snapshot-fedora-31-x86_64-rpm.tbz"
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: _tmp/moby-snapshot-fedora-31-x86_64-rpm.tbz
        asset_name: moby-snapshot-fedora-31-x86_64-rpm.tbz
        asset_content_type: application/octet-stream
